$color_white:#fff;
$color_success:#00a65a;
$color_warning:#f39c12;
$color_error:#eb5a46;

$bg_color_header:#3c8dbc;
$color_header_hover:#367fa9;
$bg_table:#ecf0f5;

$bg_sidebar:#222d32;
$bg_sidebar_input:#374850;
$bg_sidebar_search:#999;
$bg_sidebar_nav:#1a2226;
